sudo: required
dist: trusty
language: node_js
addons:
  firefox: 'latest'
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

node_js:
  - '8'

install:
  - npm install

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - $CI_ACTION

env:
  matrix:
    - CI_ACTION="npm test -- --browsers Firefox --single-run"
    - CI_ACTION="npm test -- --browsers Chrome --single-run"
    - CI_ACTION="npm run lint"
    - CI_ACTION="npm run dist"

after_success:
    - npm run codecov

cache:
  directories:
    - node_modules

