.actions {
    position: absolute;
    background: rgba(0,0,0,0.5);
    display: block;
    bottom: 3%;
    left:50%;
    width:250px;
    transform: translate(-50%, 0%);
    z-index:1000;
    text-align: center;
    color: white;
}

#directorline{
    height:30px;
    background: repeating-linear-gradient(
            45deg,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5) 10px,
            rgba(0,0,0,0.5) 10px,
            rgba(0,0,0,0.5) 20px
    );
}

.wrapperControlElement{
    position:relative;
    display:block;
    margin:5px;
}


.buttonMultiplaying {
    display:block;
    margin-top:10px;
    padding:5px;
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
}

#positionShow{
    font-size: 9pt;
}


.videoUI {
    border: 1px solid cyan;
    position: fixed;
    bottom: 10px;
    left: 350px;
    width: 400px;
    height: 140px;
    z-index: 15;
    opacity:0.8;
    pointer-events: none; /* allow click-through in transparent areas */
}


#live_label{
    display: flex;
    justify-content: center;
    font-size: 9pt;
    width: 100%;
}

.video-canvas-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 10px;
    bottom:0px;
    border: 1px solid violet;
    pointer-events: none;
    opacity:0.8;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.output_canvas {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 320px;
    height: 240px;
    left: 0px;
    bottom: 0px;
    border: 3px solid darkgray;
    pointer-events: none;
    z-index:999;
}

.control-panel {
    position: absolute;
    left: 10px;
    top: 10px;
}

/* dat gui */
.dg.ac{
    z-index: 1000;
}


#panelsSizeControlsDiv{
    position:absolute;
    height:350px;
    left:20px;
    bottom:350px;
    z-index:10000;
    scroll-behavior:auto;
}

.positionalButtons{
    width:60px;
    height:40px;
    z-index: 10000;
    cursor:pointer;
}
