.actions {
  position: absolute;
  display: flex;
  bottom: 3%;
  left: 3%;
}

.button {
  cursor: pointer;
  background: #fff;
  height: 40px;
  width: 130px;
  border-radius: 30px;
  margin-right: 10px;
}
