.actions {
  position: absolute;
  display: flex;
  bottom: 3%;
  left: 3%;
}

.button {
  cursor: pointer;
  background: #fff;
  height: 40px;
  width: 130px;
  border-radius: 30px;
  margin-right: 10px;
}

.controls {
  position: absolute;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  top: 0;
}

.controls p {
  font-family: monospace;
  color: white;
}
