name: Test Cases
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Test Cases
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['12.x']
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.3.2

      - name: Use Node.js ${{ matrix['node-version'] }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix['node-version'] }}

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Test Cases Using Firefox
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:firefox

      - name: Test Cases Using Chrome
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:chrome

      - name: Check Lint
        run: npm run lint

      - name: Check Build
        run: npm run build
